<form>

  <h1>ITEM MODIFIERS</h1>
  <div>
    {{#each modifiers as |modifier t|}}

      <div class="form-group wrapper">
        <label>{{modifier.name}}</label>
        <input type="number" name="{{modifier.name}}-value" value="{{modifier.value}}">
        {{#if modifier.hasMin}}
        <input type="number" name="{{modifier.name}}-floor" value="{{modifier.floor}}">
        {{/if}}
      </div>

    {{/each}}

  </div>
  <!--<div class="form-group">
    <label>Custom modifiers <i class="far fa-question-circle" style="margin-left:3px;" title="FORMAT - modifier 1: modifier 1 Description | modifier 2: modifier 2 Description | etc."></i></label>
    <div class="form-fields">
      <input name="custom-modifiers" type="text" value="{{custom}}">
    </div>
  </div>-->
  <button type="submit">Update</button>
</form>