<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="core">Core</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Core Tab --}}
    <div class="tab core" data-group="primary" data-tab="core">
          <div class="grid grid-2col">
              <div class="grid-span-1">
                  <label class="resource-label">Craftsmanship</label>
                  <input type="text" name="system.craftsmanship" value="{{system.craftsmanship}}" data-dtype="String" />
              </div>
              <div class="grid-span-1">
                  <label class="resource-label">Availability</label>
                  <input type="text" name="system.availability" value="{{system.availability}}" data-dtype="String" />
              </div>
          </div>
        <div class="grid grid-3col">
          <div class="grid-span-1">
            <label class="resource-label">Type</label>
            <!--<input type="text" name="system.type" value="{{system.type}}" data-dtype="String" />-->
            <select name="system.type">
              {{#select system.type}}
              {{#each (locCfg "voidship_component_type" )as |option key|}}
                <option value="{{key}}">{{option}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Subtype</label>
            <!--<input type="text" name="system.subtype" value="{{system.subtype}}" data-dtype="String" />-->
            <select name="system.subtype">
              {{#select system.subtype}}
                {{#switch system.type}}
                  {{#case 'essential'}}
                    {{#each (locCfg "voidship_essential_type" )as |option key|}}
                      <option value="{{key}}">{{option}}</option>
                    {{/each}}
                  {{/case}}
                  {{#case 'weapon'}}
                    {{#each (locCfg "voidship_weapon_type" )as |option key|}}
                      <option value="{{key}}">{{option}}</option>
                    {{/each}}
                  {{/case}}
                  {{#default '<option value="">N/A</option>'}}
                  {{/default}}
                {{/switch}}
              {{/select}}
            </select>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Origin</label>
            <input type="text" name="system.origin" value="{{system.origin}}" data-dtype="String" />
            <!--<select name="system.type">
            </select>-->
          </div>
        </div>
      <!--<div class="grid grid-3col">
          <div class="grid-span-1">
              <label class="resource-label">Space</label>
              <input type="number" name="system.comp_attrs.space" value="{{system.space}}" data-dtype="Number" />
          </div>
          <div class="grid-span-1">
              <label class="resource-label">Power</label>
              <input type="number" name="system.comp_attrs.power" value="{{system.power}}" data-dtype="Number" />
          </div>
          <div class="grid-span-1">
              <label class="resource-label">SP</label>
              <input type="number" name="system.comp_attrs.ship_points" value="{{system.ship_points}}" data-dtype="Number" />
          </div>
        </div>-->

        <div class="wrapper">
          <div class="item-form-group stacked">
            <label>Component Modifiers<a class="item-modifiers-stats"><i class="fas fa-cog"></i></a></label>            
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.Modifiers}}" />
            </div>
          </div>
          <div class="item-form-group stacked">
            <label>Component Modifiers<a class="item-modifiers-slots"><i class="fas fa-cog"></i></a></label>            
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.Modifiers}}" />
            </div>
          </div>
          <div class="item-form-group stacked">
            <label>Component Modifiers<a class="item-modifiers-weapon"><i class="fas fa-cog"></i></a></label>            
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.Modifiers}}" />
            </div>
          </div>
        </div>
    </div>
            

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
